---
{% if potos_runtype == 'setup' %}
- name: firstboot
  src: git+https://github.com/nis65/ansible-role-potos_firstboot
  version: 'develop'
{% endif %}
- name: basics
  src: git+https://github.com/nis65/ansible-role-potos_basics.git
  version: 'develop'

- name: wallpaper
  src: git+https://github.com/projectpotos/ansible-role-potos_wallpaper.git
  version: 'main'

- name: dconf
  src: git+https://github.com/nis65/ansible-role-potos_dconf.git
  version: 'develop'

- name: locale
  src: git+https://github.com/nis65/ansible-role-potos_locale.git
  version: 'develop'

- name: time
  src: git+https://github.com/nis65/ansible-role-potos_time.git
  version: 'develop'

- name: openvpn
  src: git+https://github.com/nis65/ansible-role-potos_openvpn.git
  version: 'develop'

- name: argos
  src: git+https://github.com/nis65/ansible-role-potos_argos.git
  version: 'develop'

- name: files
  src: git+https://github.com/nis65/ansible-role-potos_files.git
  version: 'develop'

- name: apt
  src: git+https://github.com/projectpotos/ansible-role-potos_apt.git
  version: 'main'

- name: hibernate
  src: git+https://github.com/nis65/ansible-role-potos_hibernate.git
  version: 'develop'

- name: sssd
  src: git+https://github.com/nis65/ansible-role-potos_sssd.git
  version: 'develop'

- name: snap
  src: git+https://github.com/nis65/ansible-role-potos_snap.git
  version: 'develop'
