---
{% if potos_runtype == 'setup' %}
- name: firstboot
  src: git+https://github.com/projectpotos/ansible-role-potos_firstboot
  version: 'main'
{% endif %}
- name: basics
  src: git+https://github.com/projectpotos/ansible-role-potos_basics.git
  version: 'main'

- name: wallpaper
  src: git+https://github.com/projectpotos/ansible-role-potos_wallpaper.git
  version: 'main'

- name: dconf
  src: git+https://github.com/nis65/ansible-role-potos_dconf.git
  version: 'develop'

- name: locale
  src: git+https://github.com/nis65/ansible-role-potos_locale.git
  version: 'develop'

- name: time
  src: git+https://github.com/nis65/ansible-role-potos_time.git
  version: 'develop'

- name: openvpn
  src: git+https://github.com/nis65/ansible-role-potos_openvpn.git
  version: 'develop'
